:root {
  color-scheme: light dark;
  --primary-color: #0f0f0f;
  --secundary-color: #f1f1f1;
}
body {
  background-color: var(--primary-color);
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: var(--secundary-color);
}
